@import "../Base/mixins.scss";
@import "../Base/Variables.scss";
@import "../Element/CryptoBank.scss";

.dashboard {
  li {
    > a {
      color: $TxtColor;
      font-size: 35px;
      float: right;
      position: relative;
      left: -450px;
      top: 150px;
      background-color: #007991;
      padding: 15px 30px;
      border-radius: 19px;
      transition: 0.3s;
      &:hover{
          background-color: $FirstColor;
      }
    }
  }
}
