@import "../Base/mixins.scss";
.home{
    @include Center();
    flex-direction: column;
    height: 100vh;
    background-color: cornflowerblue;

    h1{
        font-size: 7em;
    }

    p{
        margin-top: 15px;
        text-align: center;
        width: 80%;
        font-size: 25px;
    }
}