@import "../Base/mixins.scss";
.home{
    @include Center();
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: $BgColor;

    h1{
        font-size: $TitleSize;
    }

    p{
        margin-top: 15px;
        text-align: center;
        width: 80%;
        font-size: 30px;
    }

    a{
        position: relative;
        top: 55px;
        color: $TxtColor;
        background-color: #ffb94f;
        line-height: 1;
        border-radius: 19px;
        font-size: 35px;
        padding: 15px 30px;
        transition: all .2s ease-in-out;
        &:hover{
            
            border-radius: 25px;
            background-color: $FirstColor;
        }
    }
}