@import "../../Base/Variables.scss";

.chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.span {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
}

.dialog {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 400px;
  height: 500px;
  background-color: $BgColor ;
  padding: 5px;
  border: 1px solid $TxtColor;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.dialog-content h1 {
  position: relative;
  left: -50px;
  top: 15px;
  color: white;
  margin-top: 0;
  font-size: 20px;
}

.dialog-content .btn {
  position: relative;
  top: -200px;
  left: 160px;
  border: none;
  color: white;
  cursor: pointer;
  background: none;
  font-size: 50px;
}

.dialog-content input[type="text"]{
  padding: 8px;
  margin-left: -10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 340px;
  box-sizing: border-box;
}


.send-icon {
  position: relative;
  color: rgb(193, 193, 253);
  font-size: 38px;
  top: 8px;
  left: 5px;
  /* background-color: red; */
} 
