@import "../Base/mixins.scss";

@media only screen and (max-width: 845px) {

    .home, .download, .dashboard{
        min-width: 100%;
        h1{
            font-size: 35px;
        }
        p{
            @include Center();
            text-align: center;
            width: 100%;
            font-size: 15px;
        }
    }
}