@import "./Base/Variables.scss";
@import "./Base/reset.scss";
@import "./Base/mixins.scss";


/*Page*/
@import "./Pages/HomesPages.scss";
@import "./Pages/DownloadPage.scss";
@import "./Pages/DashboardPages.scss";

/*WidgetPages*/
@import "./Pages/Widgets/Navbar.scss";
@import "./Pages/Widgets/Footer.scss";

/*Mobile*/
@import "./Mobiles/480px.scss";
@import "./Mobiles/845px.scss";


html{
    scroll-behavior: smooth;
}

body{
    background-color: $BgColor;
    color: $TxtColor;
}

